@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
    width: 300px;
    height: 100px;
    display: flex;
    margin-left: 100px;
    background-color: transparent;
    justify-content:center;
    margin-top: auto;
    margin-left:30px;
}

.search input {
    width: 200px;
    border-right: none;
    height: 36px;
    border-radius: 5px 5px;
    outline: none;
    color: black;
    background-color: white;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}


/*Resize the wrap to see the search bar change!*/




.movieList {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    height: auto;
    align-items: flex-start;
    grid-row-gap:50px;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    min-height: 600px;
}

.movieBox {
    min-width: 150px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    color: white;
    text-align:center;
    font-size: 12px;
    font-weight: 20px;
    text-decoration: none;
    background-color: black;
    box-shadow: 0 5px 45px rgba(255,255,255,0.3);
    border-radius: 20px 20px 20px 20px;
}
.movieBox a{
    height: 270px;
    width: 220px;
    margin: 0px;
    padding:0px;
}
p{
    color:black;
    font-weight: 200px;
}
.movieBox img {
    height: 270px;
    width:220px;
    border-radius: 20px 20px 20px 20px;
}

.movie {
    width: auto;
}

@media only screen and (min-width: 500px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0px;
        height: fit-content;
        flex-direction: column;
       background:transparent;
    }
}

@media only screen and (max-width: 500px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background:transparent;
    }
    .search{
        margin: auto;
    }
    .movieList{
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}